<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List users</title>
</head>
<body>
    <h1>Users</h1>
    <p>
        <a href="/create-user">Create user</a>
    </p>
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.age}"></td>
        </tr>
    </table>
</body>
</html>